.app-container {
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 6rem;
}

.app {
  display: flex;
  flex-direction: column;
  position: relative;
}

.app > * {
  margin-block-end: 0.3rem;
}
